.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo {
    display: flex;
    align-items: center;
    img {
        width: 50px;
        margin-right: 10px;
    }
    span {
        font-weight: bold;
    }
}
.nav_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
.nav_menu li {
    padding: 10px 30px;
}

@media (max-width: 768px) {
    .nav_logo {
        span {
            display: none;
        }
    }

    .navbar {
        justify-content: space-between; 
    }

    .nav_menu {
        flex: 1;
        justify-content: space-between;
    }
}