body{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ecf0f6;
}
#todoContainer {
    width: 800px;
    text-align: center;
    display: flex; /* Flexbox로 자식 요소 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    flex-direction: column; /* 세로 방향 정렬 */
}
hr {
    width: 100%; /* 부모의 너비를 차지하도록 설정 */
    border: 1px solid #cfdbec;
    margin: 50px 0 20px 0; /* 상하 간격 추가 */
}
#todoInput {
    padding: 10px;
    width: 500px;
    border: 2px solid black;
    ::placeholder {
        color: #ecf0f6;
        font-style: italic; 
    }
}
.todoWrapper {
    display: flex;
    margin-top: 20px;
}
#listSection, #doneSection {
    width: 250px;
    font-weight: bolder;
    color: black;
    span {
        border-bottom: 3px solid #cfdbec;
    }
}

#listSection li, #doneSection li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: none;
    border-bottom: 3px solid #cfdbec;
    display: flex;
    justify-content: space-between;
    font-weight: 1000;
}
#listSection li button, #doneSection li button{
    font-weight: bolder;
    border: none;
    background-color: #cfdbec;
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}