.form {
    display: flex;
    gap: 30px;
    height: 40px;
    justify-content: center;
    margin-bottom: 40px;

    input {
        width: 300px;
    }
}
.todoItem {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.content {
    display: flex;
    height: 40px;
}