.InputTodo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
}
.textbar{
    margin-right: 20px;
    border-radius: 30px;
    width: 250px;
    height: 25px;
    border-style: solid;
    border-color:#cdcdcf;
}
.submitbutton{
    width: 25px;
    height: 25px;
    border-radius: 70%;
    border-style: solid;
    border-color: #cdcdcf;
}